/* Rubik */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  width: 1160px;
  margin: 0 auto;
}
.conteiner-background {
  width: 1440px;
  margin: 0 auto;
  background: #f0f0f0;
  margin-bottom: 70px;
}

.footer-container {
  width: 1440px;
  margin: 0 auto;
  background: #444444;
}

.inner-container {
  width: 1440px;
  margin: 0 auto;
  background: #f0f0f0;
}

.product-conteiner {
  width: 840px;
  margin: 0 auto;
  background: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

/*Yllow-button */

.yellow-button {
  z-index: 3;
  display: block;
  box-sizing: border-box;
  padding: 10px 2px;
  font-size: 18px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.yellow-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -2;
  display: block;
  height: 7px;
  transform: translateY(-50%);
  transition: height 500ms, background-color 500ms ease;
}

.yellow-button:hover::after {
  height: 100%;
}

.yellow-button::after {
  background-color: #ffe17f;
}

.yellow-button:focus {
  outline: 2px solid #af4fff;
}
.yellow-button:active::after {
  outline: none;
  background-color: #ffc700;
}

.yellow-button:disabled {
  opacity: 0.3;
}

/* Pages */

.page-header {
  background-color: #ffe17f;
}

.link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/* Header navigation */

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  padding: 45px 60px 123px;
}

.сatalog-navigation {
  padding-bottom: 10px;
}

.navigation-logo {
  position: absolute;
  top: -23px;
  left: 60px;
}
.navigation-logo:hover {
  opacity: 0.6;
}
.navigation-logo:focus {
  outline: 2px solid #af4fff;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0px;
}

.index-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 0px;
}

.catalog-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

.сatalog-navigation-user {
  display: flex;
  flex-wrap: wrap;
}
.navigation-link {
  text-decoration: none;
  color: #000000;
}

.navigation-search {
  position: relative;
  width: 516px;
  margin-right: 52px;
}
.index-navigation-search {
  position: relative;
  width: 516px;
  margin-right: 27px;
}

.catalog-navigation-search {
  position: relative;
  width: 516px;
  margin-right: 27px;
  margin-bottom: -2px;
}

.imput-search-ico {
  position: absolute;
  top: 11px;
  left: 16px;
}

.navigation-search-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #c6ae63;
  padding: 7px 0 8px 44px;
  width: 309px;
  margin-bottom: 45px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  cursor: pointer;
}

.focus-border-imput {
  position: absolute;
  top: -7px;
  left: -4px;
  z-index: 1;
  display: none;
  width: 358px;
  height: 48px;
  border: 2px solid #af4fff;
}

.navigation-search-input:focus + .focus-border-imput {
  display: block;
}

.navigation-search-input:focus:not(:placeholder-shown) {
  color: #000000;
}

.navigation-search-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.catalog-navigation-search-input {
  margin-right: -7px;
}

.navigation-search-btn {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 7px 0px 8px;
  min-width: 161px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.index-navigation-search-btn {
  margin-left: -7px;
}

.navigation-search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.focus-border-btn {
  position: absolute;
  top: -7px;
  left: 348px;
  z-index: 1;
  display: none;
  width: 164px;
  height: 48px;
  border: 2px solid #af4fff;
  cursor: pointer;
}

.navigation-search-btn:focus + .focus-border-btn {
  display: block;
}

.navigation-search-btn:active {
  background-color: #000000;
  color: #303030;
}

.navigation-search-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.navigation-login {
  display: block;
  margin-right: 144px;
  background: no-repeat 1px 9px url(../images/header/intries-lk-ico.svg);
  padding-left: 27px;
  margin-top: 5px;
}

.navigation-login:hover {
  opacity: 0.6;
}

.navigation-login:focus {
  outline: 2px solid #af4fff;
}

.navigation-login:active {
  opacity: 0.3;
  outline: none;
}

.catalog-user-logout {
  margin-left: 5px;
  margin-right: 30px;
  opacity: 0.3;
}

.catalog-user-logout:hover {
  opacity: 1;
}

.catalog-user-logout:focus {
  outline: 2px solid #af4fff;
}

.catalog-user-logout:active {
  opacity: 0.3;
  outline: none;
}

.catalog-user-name {
  display: block;
  width: 119px;
  padding-left: 25px;
  margin-right: 24px;
  background: no-repeat 1px 9px url(../images/header/intries-lk-ico.svg);
}

.catalog-user-name:hover {
  opacity: 0.6;
}

.catalog-user-name:focus {
  outline: 2px solid #af4fff;
}

.catalog-user-name:active {
  opacity: 0.3;
  outline: none;
}

.navigation-compare {
  display: block;
  background: no-repeat 1px 8px url(../images/header/compare-ico.svg);
  padding-left: 18px;
  padding-right: 34px;
}

.index-navigation-compare {
  display: block;
  background: no-repeat 33px 9px url(../images/header/compare-ico.svg);
  padding-left: 52px;
  padding-right: 34px;
  margin-top: 5px;
}

.navigation-compare:hover {
  opacity: 0.6;
}

.navigation-compare:focus {
  outline: 2px solid #af4fff;
}

.navigation-compare:active {
  opacity: 0.3;
  outline: none;
}

.navigation-cart {
  position: relative;
  display: block;
  background: no-repeat 1px 6px url(../images/header/shopping-cart-ico.svg);
  padding-left: 29px;
}

.index-navigation-cart {
  margin-top: 5px;
}

.navigation-cart:hover {
  opacity: 0.6;
}

.navigation-cart:focus {
  outline: 2px solid #af4fff;
}

.navigation-cart:active {
  opacity: 0.3;
  outline: none;
}

.quantity-cutrent-item {
  position: absolute;
  left: -12px;
  top: 5px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cart-ico {
  position: absolute;
  left: -24px;
  top: 4px;
}

.navigation-user .navigation-user-acount {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.navigation-servises {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.navigation-catalog-store {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 227px;
  height: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
}

.focus-border-catalog-products {
  position: absolute;
  top: -20px;
  display: none;
  width: 298px;
  height: 60px;
  border: 2px solid #af4fff;
}

.navigation-catalog-store:focus > .focus-border-catalog-products {
  display: block;
}

.navigation-catalog-store:focus-visible > .focus-border-catalog-products {
  outline-color: #c6ae63;
}

.button-store {
  position: absolute;
  top: -17px;
  left: 241px;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  transition: opacity 0.2s ease-in;
  z-index: 2;
}

.navigation-catalog-store:hover > .button-store {
  opacity: 0.3;
}

.navigation-catalog-store:hover > .button-store:hover {
  opacity: 1;
}

.button-store::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background-color: black;
}

.button-store::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  transform: rotate(90deg);
  transition: transform 0.2s ease-in;
  background-color: black;
}

.navigation-catalog-store:active > .button-store:after {
  transform: rotate(0deg);
}

.navigation-delivery {
  display: block;
  min-width: 125px;
  margin-right: 43px;
}
.navigation-delivery:hover {
  opacity: 0.6;
}

.navigation-delivery:focus {
  outline: 2px solid #af4fff;
}

.navigation-delivery:active {
  opacity: 0.3;
  outline: none;
}

.navigation-guarantee {
  margin-right: 49px;
}
.navigation-guarantee:hover {
  opacity: 0.6;
}

.navigation-guarantee:focus {
  outline: 2px solid #af4fff;
}

.navigation-guarantee:active {
  opacity: 0.3;
  outline: none;
}

.navigation-contacts {
  margin-right: -4px;
}

.navigation-contacts:hover {
  opacity: 0.6;
}

.navigation-contacts:focus {
  outline: 2px solid #af4fff;
}

.navigation-contacts:active {
  opacity: 0.3;
  outline: none;
}

.main-conteiner {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

/* Slider */

.conteiner .slider {
  margin-top: 2px;
  margin-bottom: 69px;
}

/* Togle wrap sliders*/

.slider-one {
  display: flex;
}

.slider-two {
  display: flex;
}

.slider-tree {
  display: flex;
}

.slider {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

.slider-image {
  margin-top: -152px;
}

.slider-controls {
  display: flex;
  position: absolute;
  top: 56px;
}

/*Slider right left button */

.slider-prev {
  padding: 0;
  margin-left: 30px;
  margin-right: 490px;
  width: 20px;
  background-image: url("../images/main-page/slider/arrow-slider.svg");
  block-size: 60px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider-prev:hover {
  opacity: 0.6;
}

.slider-prev:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.slider-prev:active {
  opacity: 0.3;
  outline: none;
}

.slider-prev:disabled {
  opacity: 0.1;
  outline: none;
}

.slider-next {
  padding: 0;
  width: 20px;
  background-image: url("../images/main-page/slider/arrow-slider.svg");
  block-size: 60px;
  background-position: center;
  border: none;
  background-color: transparent;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider-next:hover {
  opacity: 0.6;
}

.slider-next:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}

.slider-next:active {
  opacity: 0.3;
  outline: none;
}

.slider-next:disabled {
  opacity: 0.1;
  outline: none;
}

/*slider white number*/

.slider-number {
  position: absolute;
  top: -70px;
  right: 49px;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
}

.slider-right-colum {
  position: relative;
  width: 600px;
  padding: 0 0 38px;
}

/*Slider pagination */

.slider-item-pagination {
  padding: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 1171px;
  right: 0;
  display: flex;
}

.item-pagination-button {
  padding: 0%;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-button-one::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 10px;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
}

.pagination-button-two::after {
  content: "";
  position: absolute;
  left: 27px;
  top: 10px;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
}

.pagination-button-three::after {
  content: "";
  position: absolute;
  left: 59px;
  top: 10px;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid transparent;
}

.item-pagination-button-current {
  background: #000000;
}

.item-pagination:not(:last-child) {
  margin-right: 20px;
}

.item-pagination-button:hover {
  opacity: 0.6;
}

.item-pagination-button:focus::after {
  border-color: #af4fff;
}

.item-pagination-button:active {
  opacity: 0.3;
  outline: none;
}

/*Slider description */

.slider-item-slogan {
  padding: 0;
  margin: -28px 15px 29px 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-item-description {
  padding: 0;
  margin: 0 0 48px 40px;
  font-style: normal;
  font-weight: 400;
}

.slider-item-more {
  margin: 0 485px 40px 46px;
  width: 210px;
}

/* Sliders dl description*/

.slider-item-features {
  padding: 0;
  margin: 0;
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  position: relative;
}

.slider-item-feature-name {
  margin-top: 51px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}

.slider-item-feature-value {
  margin: 0;
  position: absolute;
  top: 10px;
  width: 102px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.slider-item-feature-value:last-child {
  left: 158px;
}

.slider-item-features-braslet {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 89px;
}
.slider-item-feature-name-braslet {
  padding: 0;
  margin: 0;
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}
.slider-item-feature-value-braslet {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -40px;
  left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.slider-item-features-stick {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.slider-item-feature-name-stick {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}
.slider-item-feature-value-stick {
  padding: 0;
  margin: 0;
  top: -10px;
  position: absolute;
  left: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

.slider-item-feature-value-stick:nth-child(4) {
  left: 176px;
}
.slider-item-feature-value-stick:nth-child(6) {
  left: 294px;
}

/*Product categoty */

.categories-container {
  margin-bottom: 175px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-category-item {
  width: 160px;
  margin-right: 40px;
}

.catalog-category-item:last-child {
  margin-right: 0;
}

.catalog-category-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  transition: opacity 200ms ease;
}

.catalog-category-title {
  display: block;
  min-height: 60px;
  width: 160px;
}

.catalog-category-link::before {
  content: " ";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background-color 500ms ease;
}

.category-vr::before {
  background-image: url("../images/main-page/product-category/virtual.svg");
}
.category-vr {
  width: 97px;
  height: 55px;
}
.category-monopode::before {
  background-image: url("../images/main-page/product-category/monopods.svg");
  background-position: 50% 100%;
}

.category-monopode {
  width: 86px;
  height: 115px;
}

.category-cameras::before {
  background-image: url("../images/main-page/product-category/action-camera.svg");
}

.category-fitness::before {
  background-image: url("../images/main-page/product-category/fitness-bracelets.svg");
}

.category-watches::before {
  background-image: url("../images/main-page/product-category/smart-watch.svg");
}

.category-quadrocopters::before {
  background-image: url("../images/main-page/product-category/cvadrocopter.svg");
}

.catalog-category-link:hover::before {
  background-color: #ffc700;
}

.catalog-category-link:active {
  opacity: 0.3;
}

.catalog-category-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*Servises */

.servises {
  min-height: 289px;
}

.servises-item-features {
  position: relative;
  padding: 0;
  margin: 0;
}

.servises-item-features::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 280px;
  margin-bottom: 70px;
  z-index: 2;
  width: 7px;
  height: 319px;
  background: #000000;
}
.item-feature-name {
  position: absolute;
  top: -42px;
  width: 280px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.item-feature-name-current {
  position: absolute;
  box-sizing: border-box;
  top: -42px;
  width: 280px;
  padding: 10px 120px 10px 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffe17f;
  background: #000000;
}

.item-feature-name-current:hover {
  color: rgba(255, 225, 127, 0.5);
}
.item-feature-name-current:focus {
  outline: 2px solid #af4fff;
}

.item-feature-name-current:active {
  color: rgba(255, 225, 127, 0.3);
}

.item-feature-name-garanty {
  position: absolute;
  top: 34px;
  width: 160px;
  padding: 10px 120px 10px 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.item-feature-name-credit {
  position: absolute;
  top: 109px;
  width: 160px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.item-feature-value {
  position: relative;
  width: 448px;
  padding: 0;
  padding-top: 52px;
  margin-left: 405px;
  margin-right: 110px;
}

.value-delivery::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 556px;
  width: 136px;
  height: 164px;
  background-image: url("../images/main-page/servises/delivery.svg");
  background-repeat: no-repeat;
}
.value-garanty::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 528px;
  width: 171px;
  height: 195px;
  background-image: url("../images/main-page/servises/garanty.svg");
  background-repeat: no-repeat;
}
.value-credit::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 556px;
  width: 156px;
  height: 188px;
  background-image: url("../images/main-page/servises/credit.svg");
  background-repeat: no-repeat;
}

.item-feature-value-title {
  width: 242px;
  position: absolute;
  left: -3px;
  top: -32px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* Delivery rare */

.delivery-rare-product {
  background: #f0f0f0;
  margin-bottom: 73px;
  margin-top: -3px;
  transition: all 0.3s ease 0s;
}

.delivery-rare-product:active {
  opacity: 0.3;
}

.delivery-rare-product-link {
  position: relative;
  width: 1160px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.rare-product-link-description {
  width: 910px;
  margin: 0 auto;
  padding: 40px 40px 37px;
}

.delivery-rare-product-link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 125px;
  height: 100px;
  background: #ffe17f no-repeat 39px 34px
    url("../images/main-page/rar-delivery/delivery-car-ico.svg");
  background-position: 50%;
}

.delivery-rare-product-link::after {
  content: "";
  width: 40px;
  height: 40px;
  right: 43px;
  top: 30px;
  position: absolute;
  background: rgba(220, 220, 220, 0.5) no-repeat 2px 8px
    url("../images/main-page/rar-delivery/i-ico.svg");
  border-radius: 50%;
  background-position: 50%;
  opacity: 0.6;
}

.delivery-rare-product-link:hover::before {
  background-color: #ffc700;
}
.delivery-rare-product-link:hover::after {
  opacity: 1;
}

.delivery-rare-product-link:focus {
  outline: 2px solid #af4fff;
}

/* Slider pagination */

.slider-item-pagination {
  list-style: none;
}

/* About- Contacts */

.about-contacts-bloc {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  padding: 47px 0 110px;
}
.about {
  width: 580px;
  padding-right: 96px;
}
.about h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.about-title {
  position: relative;
}

.about-title::before {
  content: "";
  position: absolute;
  top: -50px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts {
  width: 580px;
}

.contacts-title {
  position: relative;
}

.contacts-title::before {
  content: "";
  position: absolute;
  top: -50px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-button {
  width: 258px;
}

.contacts-button {
  width: 258px;
}

.contacts h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.about p {
  font-style: normal;
  font-weight: 400;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
}
.contacts p {
  font-style: normal;
  font-weight: 400;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.delivery-company-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.delivery-company-item {
  position: relative;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-left: 35px;
  margin-bottom: 19px;
}

.delivery-company-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -33px;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.delivery-company-item:last-child {
  margin-bottom: 30px;
}
.contacts h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-address p {
  margin: 0;
  padding: 0;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-tel {
  font-style: normal;
  font-weight: 400;
  color: #444444;
}

.contacts-schedule {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 28px;
}

.contacts-schedule-item {
  font-style: normal;
  font-weight: 400;
  color: #444444;
}

/*Subscription */

.background-subscription {
  margin-top: -42px;
  padding: 64px 0 49px;
  margin-bottom: 0;
}

.subscription {
  display: flex;
  flex-wrap: wrap;
}
.subscription-title {
  width: 395px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-left: 10px;
  margin: 0;
  margin: 0 200px 144px 0;
}

.subscription-description {
  display: block;
  width: 550px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.subscription-form {
  margin-right: 218px;
}

.subscription-input {
  padding: 0;
  padding-left: 16px;
  padding-right: 20px;
  width: 523px;
  height: 52px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-right: -5px;
  color: #444444;
  opacity: 0.5;
  background: #f0f0f0;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.subscription-input:focus {
  background: #dcdcdc;
  outline: 2px solid #af4fff;
}

.subscription-input:focus:not(:placeholder-shown) {
  color: #000000;
  outline: none;
  background: #f0f0f0;
  opacity: 1;
}

.subscription-input-error {
  border-bottom: 3px solid #ff3d3d;
}

.subscription-button {
  box-sizing: border-box;
  min-width: 253px;
  height: 60px;
  padding: 18px 34px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.subscription-button:focus {
  outline: 2px solid #af4fff;
}

.subscription-button:active {
  background-color: #000000;
  color: #444444;
}

.subscription-free {
  position: relative;
  width: 128px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  padding: 0;
  margin: 0;
}

.subscription-free::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -30px;
  width: 16px;
  height: 16px;
  background: #f0f0f0 no-repeat 2px
    url("../images/main-page/subscription/check-mark-ico.svg");
}

/* Footer */

.page-footer {
  position: relative;
  background: #444444;
  padding: 62px 0 53px;
}

.footer-logo {
  position: absolute;
}

.footer-logo-link {
  display: block;
  width: 148px;
  height: 40px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}
.footer-logo-link:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}
.footer-logo-link:active {
  opacity: 0.3;
  outline: none;
}

/* Footer adress */

.footer-servises {
  display: flex;
  margin-top: 13px;
}

.contacts-address-description {
  width: 244px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contacts-address {
  position: relative;
}

.footer-contacts-address::after {
  content: "";
  position: absolute;
  display: block;
  top: 105px;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-contacts {
  margin-right: 114px;
}

.footer-navigation {
  margin-top: 17px;
}
.footer-navigation-list .footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-navigation-item {
  position: relative;
  margin-right: 32px;
}

.footer-navigation-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
}

.footer-navigation-link:hover::after {
  background-color: #ffc700;
}

.footer-navigation-item:hover a {
  color: #ffc700;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-navigation-list {
  list-style: none;
  display: flex;
  width: 444px;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
}

/* Footer tel */

.footer-contacts-tel {
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 20px;
  margin-left: auto;
  margin-top: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-contacts-tel:hover {
  color: #ffc700;
}

.footer-contacts-tel:focus {
  outline: 2px solid #af4fff;
}

.footer-contacts-tel:active {
  opacity: 0.3;
}

/* Footer social */

.footer-social-conteiner {
  display: flex;
}

.footer-social {
  margin-left: 505px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -5px;
}

.footer-social-item {
  position: relative;
  display: block;
  width: 40px;
  margin-right: 15px;
}

.footer-social-link {
  position: relative;
  display: block;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 15px;
  outline: none;
}

.footer-social-link::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  border: 2px solid transparent;
  width: 43px;
  height: 43px;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:focus::before {
  border-color: #af4fff;
}

.footer-social-link:active > .footer-social-ico {
  outline: none;
  opacity: 0.3;
}

.footer-social-ico {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  margin: auto;
  color: #444444;
}
.copyright {
  display: inline-block;
  text-decoration: none;
  margin-left: auto;
  color: #ffc700;
}

.copyright:hover {
  color: #ffffff;
}

.copyright-link:focus {
  color: #ffc700;
  outline: 2px solid #af4fff;
}

.copyright:active {
  opacity: 0.3;
}

/* Catalog-inner page */

.inner-header {
  width: 1160px;
  margin: 0 auto;
}
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  margin: 35px 0 10px 60px;
}

/* Breadcrambs inner page */

.header-breadcrambs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 58px;
  margin-bottom: 35px;
}

.header-breadcrambs-item {
  position: relative;
  margin-right: 38px;
}

.header-breadcrambs-item:not(:last-child):before {
  content: "";
  position: absolute;
  top: 13px;
  right: -22px;
  width: 4px;
  height: 7px;
  opacity: 0.3;
  background: no-repeat url(../images/catalog-page/breadcrambs-arrow.svg);
}

.breadcrambs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
}

.breadcrambs-link:hover {
  opacity: 0.6;
}

.breadcrambs-link:focus {
  outline: 2px solid #af4fff;
}

.breadcrambs-link:active {
  opacity: 0.3;
}

/* Inner filtres */

fieldset {
  border: none;
}
.catalog-filter {
  margin-left: 60px;
  margin-right: 28px;
  padding-top: 15px;
}

.catalog-filter-list {
  list-style: none;
}

.filters-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-range {
  padding: 0;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 40px;
}

.filtres-range-title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 29px;
}

/*range scale */

.filtres-range-title::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}
.filtres-range-title::after {
  content: "";
  position: absolute;
  top: 116px;
  left: 0px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 10px;
  background-color: #dcdcdc;
  border-radius: 2px;
  width: 200px;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 119px;
  height: 2px;
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.range-toggle::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  display: block;
  width: 23px;
  height: 21px;
  border: 2px solid transparent;
  border-radius: none;
}
.range-toggle:hover {
  opacity: 0.5;
}
.range-toggle:focus {
  outline: none;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus::after {
  border-color: #af4fff;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input-number {
  display: flex;
  gap: 15px;
  margin-left: -16px;
}

.range-price {
  position: relative;
}

.range-label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  width: 90px;
  height: 24px;
  padding: 0 2px;
  padding-left: 24px;
  color: #c4c4c4;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

/*chekbox and radio*/

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.catalog-filter-item {
  margin-bottom: 6px;
}

.catalog-filter-item:last-child {
  margin-bottom: 37px;
}

.filter-button {
  box-sizing: border-box;
  min-width: 210px;
}

.control-input {
  margin-right: 10px;
}

.catalog-filter- .control {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 16px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-cheked {
  border-color: #000000;
}

.control-cheked {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="radio"]:focus + .control-cheked:after {
  border-color: #af4fff;
}

.control-input[type="checkbox"]:checked + .control-cheked::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: no-repeat
    url(../images/catalog-page/filter-catalog/check-mark-check-box.svg);
  content: "";
}

.control-cheked::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid transparent;
  border-radius: none;
}
.control-input[type="radio"]:checked + .control-cheked {
  border-color: #000000;
}

.control-input[type="radio"] + .control-cheked {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-cheked::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-cheked::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid transparent;
  border-radius: none;
}

/* Sorting product */

.catalog-sorting-box {
  display: block;
  background: #f0f0f0;
  padding: 5px 0 19px;
}

.sorting-up {
  display: inline-block;

  width: 30px;
  height: 20px;
  line-height: 20px;
  opacity: 0.2;
  background: no-repeat 8px 8px
    url("../images/catalog-page/sort-product-button.svg");
  transition: all 0.3s ease 0s;
}
.sorting-down {
  display: inline-block;
  width: 24px;
  height: 30px;
  line-height: 20px;
  opacity: 0.2;
  background: no-repeat 8px 1px
    url("../images/catalog-page/sort-product-button.svg");
  transform: rotate(180deg);
  transition: all 0.3s ease 0s;
}

.sorting-button:hover {
  opacity: 0.5;
}
.sorting-button:focus {
  outline: 2px solid #af4fff;
}
.sorting-button:active {
  outline: none;
  opacity: 1;
}

.select-control-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 42px;
  margin-right: 44px;
}

.select-control {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-left: 199px;
  margin-right: 143px;
  padding-right: 47px;
  color: #000000;
  background: #f0f0f0;
  border: none;
  outline: none;
  background-image: url("../images/catalog-page/check-mark-select.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

/* Product catalog */

.catalog-products {
  display: flex;
}

.products-card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 70px 0 -4px 40px;
}
.products-card {
  position: relative;
  display: grid;
  grid-template-columns: 180px 180px;
  margin-right: 40px;
  margin-bottom: 44px;
  width: 360px;
}

.products-card-new {
  position: absolute;
  top: 27px;
  right: 27px;
}
.products-card-link {
  display: grid;
  width: 360px;
  grid-template-columns: 260px 100px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease 0s;
}
.products-card-title {
  grid-column: 1 / 2;
  margin: 0;
  margin-top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products-card-price {
  grid-column: 2/-1;
  margin-top: 32px;
  margin-left: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 760px;
  border: 3px solid #e5e5e5;
  margin: 0 40px;
  padding: 18px 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.product-show-more:hover {
  border-color: #000000;
}
.product-show-more:focus {
  outline: 2px solid #af4fff;
}

.product-show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.products-card-more {
  position: absolute;
  bottom: 252px;
  left: 109px;
  z-index: 2;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
}

.products-card-more::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 6px;
  z-index: -1;
  width: 221px;
  height: 8px;
  background-color: #ffe17f;
  cursor: pointer;
}

.products-card-link:hover .products-card-more {
  opacity: 1;
}

.products-card-link:hover .products-card-image {
  opacity: 0.4;
}

.products-card-link:focus {
  outline: 2px solid #af4fff;
}

.products-card-link:active .products-card-more::after {
  opacity: 1;
  background-color: #ffc700;
}

.products-card-link:active .products-card-image {
  opacity: 0.4;
}

/* Pagination */

.pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  background: #ebebeb;
  margin: 42px 40px 78px;
  padding: 21px 0px;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  width: 128px;
  padding: 24px 10px 26px 20px;
  text-align: center;
}

.pagination-prev:hover {
  background-color: #dcdcdc;
}

.pagination-prev:focus {
  outline: 2px solid #af4fff;
}

.pagination-prev:active {
  opacity: 0.3;
}

.pagination-number-list {
  display: flex;
  list-style: none;
  margin: 0 160px;
  padding: 0;
}

.number-item-link {
  padding: 10px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.number-item-link:hover {
  opacity: 1;
}

.number-item-link:focus {
  outline: 2px solid #af4fff;
}

.number-item-link:active {
  opacity: 0.1;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  width: 128px;
  padding: 24px 10px 26px 10px;
  text-align: center;
}

.pagination-next:hover {
  background-color: #dcdcdc;
}

.pagination-next:focus {
  outline: 2px solid #af4fff;
}

.pagination-next:active {
  opacity: 0.3;
}
